// @use "sass:map";
// @import "style/pages/theme";

.header_top {
    background: red;
}
.header_top_right {
    background: red;
    display: grid;
    justify-content: end;
    padding: 10px 0 13px;
    ul{
        display: flex;
        column-gap: 10px;
        list-style: none;
    }
    a{
        font-size: 14px;
        display: inline-block;
        color: map.get($theme-colors, "normal-text");
    }
    span{
        font-size: 14px;
        margin-left: 2px;
    }
}